<div class="app">
  <header class="app-header">
    <div class="inner">
      <h1>{{#link-to 'index'}}
        {{partial "partials/txg-logo"}}
        <span>Stats</span>
        {{/link-to}}
      </h1>
      <nav></nav>
    </div>
  </header>

  {{outlet}}
</div>

<footer class="app-footer">
  <p>back to <a href="http://txgarage.com/">txGarage.com</a>.</p>
</footer>
